.container {
    width: 450px;
    background-color: var(--cor-fundoLogin);
    backdrop-filter: blur(10px);
    border: 2px solid var(--cor-borda);
    padding: 30px;
    border-radius: 10px;
}

.container h1 {
    text-align: center;
    font-size: 30px;
    color: var(--cor-texto);
}

.container img {
    width: 150px;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    
}
.container .input-field {
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px auto;
}

.input-field input {
    width: 100%;
    height: 100%;
    background-color: transparent;
    outline: none;
    border: 2px solid var(--cor-borda);
    border-radius: 40px;
    font-size: 16px;
    color:  var(--cor-texto);
    padding: 20px 45px;
    text-shadow: none;
}

.input-field input::placeholder {
    color: var(--cor-texto);
    /* padding-left: 20px; */
}

.input-field .icon {
    position: absolute;
    left: 25px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 18px;
    color: var(--cor-texto);
}

.container .recall-forget {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    margin: -15px 0 15px;
}

.recall-forget label {
    color: var(--cor-texto);
}

.recall-forget input {
    margin-right: 5px;
}

.recall-forget a, .signup-link p a {
    color: var(--cor-texto);
    text-decoration: none;
}

.recall-forget a:hover, .signup-link p a:hover {
    text-decoration: underline;
}

.container button {
    width: 100%;
    height: 50px;
    background-color: var(--cor-fundoButton);
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px var(--cor-boxShadow);
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    text-shadow: none;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.container button:hover {
    background-color: var(--cor-hoverButton);
}

.container .signup-link p {
    font-size: 15px;
    text-align: center;
    margin: 20px 0 10px;
    text-shadow: none;
    cursor: pointer;
}